.view--container {
  max-width: 1400px;
  height: 700px;
  margin: 0 auto;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-right: 10px;
  padding-top: 30px;
  box-shadow: inset 0px 11px 8px -10px #000;
  .view__coinIcon {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
}
.view__coinAbout {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-wrap: wrap;
  padding: 0 25px;
  max-width: 36%;
  border-right: 2px solid rgb(128, 128, 128);
  img {
    width: 200px;
    height: 200px;
  }
  h2 {
    color: rgb(255, 255, 255);
    font-family: "Montserrat";
    font-size: 48px;
    font-weight: 700;
    line-height: 56.02px;
    letter-spacing: 0%;
    text-align: left;
  }
  p {
    color: rgb(255, 255, 255);
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.15px;
    text-align: left;
    margin-bottom: 30px;
  }
  div {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 20px;
    h3 {
      color: rgb(255, 255, 255);
      font-family: "Montserrat";
      font-size: 24px;
      font-weight: 700;
      line-height: 32.02px;
      letter-spacing: 0%;
      text-align: left;
    }
    span {
      color: rgb(255, 255, 255);
      font-family: "Montserrat";
      font-size: 24px;
      font-weight: 400;
      line-height: 32.02px;
      letter-spacing: 0%;
      text-align: left;
    }
  }
}
.view__Chart {
  padding-left: 40px;
}

@media screen and (max-width: 1700px) {
  .view__coinAbout {
    max-width: 36%;
  }
}
@media screen and (max-width: 1320px) {
  .view__coinAbout {
    div:last-child {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
    }
  }
}
@media screen and (max-width: 1270px) {
  .view__coinAbout {
    h2 {
      font-size: 44px;
    }
    p {
      width: 60%;
    }
    max-width: 100%;
    border-right: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .view__Chart {
    padding: 0 !important;
    margin: 0;
    width: 100%;  
    .container{
    .chart{
      margin-top: 0 !important;
    }
    margin-bottom: 40px;
  }
  }
}
@media screen and (max-width: 900px){
  .listGroup{
    li {
      padding-right: 10px;
      label{
        font-size: 14px;
      }
    }
  }
}
@media screen and (max-width: 660px) {
  .view__coinAbout {
    h2 {
      font-size: 40px;
    }
    p {
      width: 90%;
      font-size: 16px;
    }
    div {
      h3 {
        font-size: 24px;
      }
      span {
        font-size: 18px;
      }
    }
  }
  .listGroup{
    li {
      padding-top: 0;
      padding-bottom: 0;
      label{
        text-align: center;
        font-size: 10px;
        line-height: 0;
        display: inline-block;
        padding-bottom: 12px;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .view__coinAbout {
    .market__cup {
      display: none !important;
    }
    div {
      h3 {
        font-size: 20px;
      }
      span {
        font-size: 16px;
      }
    }
  }
  .listGroup{
    li {
      label{
        display: inline-block;
        padding-bottom: 12px;
        font-size: 8px;
      }
    }
  }
}
