@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.watch--container {
  .watch__cryptoFolio {
    background-image: url("../../assets/watchbg.png");
    background-repeat: no-repeat;
    margin: 0 auto;
    background-size: cover;
    padding-bottom: 40px;
    .watch__cryptoFolio--container {
      max-width: 1280px;
      margin: 0 auto;
      padding: 0 10px;
      h1 {
        color: rgb(135, 206, 235);
        padding-top: 69px;
        font-family: "Montserrat";
        font-size: 60px;
        font-weight: 700;
        line-height: 72px;
        letter-spacing: -0.5px;
        text-align: center;
      }
      p {
        color: rgb(169, 169, 169);
        font-family: "Montserrat";
        font-size: 14px;
        font-weight: 500;
        line-height: 21.98px;
        letter-spacing: 0.1px;
        text-align: center;
        text-transform: capitalize;
        max-width: 360px;
        margin: 0 auto;
      }
      .mySwiper {
        max-width: 1200px;
        margin: 0 auto;
        margin-top: 68px;
        gap: 8px;
        .mySwiper__swipper {
          text-align: center;
          img {
            width: 80px;
            height: 80px;
            margin-bottom: 10px;
          }
          .mySwiper__price {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            p {
              color: rgb(255, 255, 255);
              font-family: "Roboto";
              font-size: 16px;
              font-weight: 400;
              line-height: 19px;
              letter-spacing: 0%;
              text-align: left;
              text-transform: uppercase;
              margin-bottom: 4px;
              span {
                color: rgb(14, 203, 129);
                font-family: "Roboto";
                font-size: 15.75px;
                font-weight: 500;
                line-height: 18px;
                letter-spacing: 0%;
                text-align: left;
                text-transform: uppercase;
              }
            }

            h3 {
              color: rgb(255, 255, 255);
              font-family: "Roboto";
              font-size: 21.83px;
              font-weight: 500;
              line-height: 26px;
              letter-spacing: 0%;
              text-align: left;
              text-transform: uppercase;
              span {
              }
            }
          }
        }
      }
    }
  }
  .watch__cryptoCurrency {
    max-width: 1280px;
    margin: 0 auto;
    padding: 18px 24px 20px;
    h2 {
      color: rgb(255, 255, 255);
      font-family: "Montserrat";
      font-size: 34px;
      font-weight: 400;
      line-height: 41.99px;
      letter-spacing: 0.25px;
      text-align: center;
      margin-bottom: 16px;
    }
    #serachCurrency {
      padding: 22px 14px;
      border: none;
      display: block;
      border-radius: 4px;
      width: 100%;
      background: transparent;
      color: white;
      font-family: "Roboto";
      font-size: 16px;
      font-weight: 400;
      line-height: 16px;
      outline: none;
      margin-bottom: 20px;
      border: 1px solid rgba(255, 255, 255, 0.5);
    }
    #serachCurrency::placeholder {
      color: rgba(255, 255, 255, 0.5);
      font-family: "Roboto";
      font-size: 16px;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0.15px;
      text-align: left;
    }
  }
}

.watch__table {
  border: 1px solid rgba(81, 81, 81, 0.2);
  thead {
    tr {
      cursor: pointer;
      th {
        background: rgb(135, 206, 235);
        color: rgb(0, 0, 0);
        font-family: "Montserrat";
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.15px;
        text-align: right;
        padding: 19px;
        &:first-child {
          text-align: left;
          border-top-left-radius: 4px;
        }
        &:last-child {
          border-top-right-radius: 4px;
        }
      }
    }
  }
  tbody {
    tr {
      color: white;
      &:hover {
        color: black;
        .coin {
          p {
            color: black;
          }
          span {
            color: rgba(0, 0, 0, 0.5);
          }
        }
      }
      cursor: pointer;
    }
    td {
      border-bottom: 1px solid rgb(81, 81, 81);
      padding-right: 10px;
      padding: 19px;
      font-family: "Roboto";
      font-size: 14px;
      font-weight: 400;
      line-height: 20.02px;
      letter-spacing: 0.15px;
      text-align: right;
      &:first-child {
        text-align: left;
      }
    }
  }
}
.firstCoins {
  img {
    display: inline-block;
  }
  .coin {
    display: inline-block;
    margin-left: 15px;
    p {
      color: rgb(255, 255, 255);
      font-family: "Roboto";
      font-size: 22px;
      font-weight: 400;
      line-height: 31.46px;
      letter-spacing: 0.15px;
      text-align: left;
      text-transform: uppercase;
      margin-bottom: 5px;
    }
    span {
      color: rgb(169, 169, 169);
      font-family: "Roboto";
      font-size: 14px;
      font-weight: 400;
      line-height: 20.02px;
      letter-spacing: 0.15px;
      text-align: left;
    }
  }
}
.dayChange {
  div {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
  }
  .dayChange__eye {
    margin-right: 20px;
    width: 20px;
    height: 20px;
  }
  span {
    display: inline-block;
    padding-bottom: 10px;
    color: rgb(14, 203, 129);
  }
}

@media screen and (max-width: 950px) {
  .watch__table tbody td{
    font-size: 12px;
  }
}

@media screen and (max-width: 880px) {
  .watch__table tbody td{
    font-size: 10px;
  }
  .watch__cryptoFolio--container {
    h1 {
      font-size: 40px !important;
      line-height: 52px !important;
    }
    p{
      font-size: 14px !important;
    }
  }
  .watch__cryptoCurrency {
    h2{
      font-size: 24px !important;
    }
    #serachCurrency::placeholder{
      font-size: 12px !important;
    }
    .pagination{
      font-size: 0.5rem !important; 
    }
  }
}

@media screen and (max-width: 750px) {
  .currancy__table{
    display: none;
  }
  .firstCoins{
    .coin{
      text-align: center;
    }
  }
  .currancy__table__market{
    display: none;
  }
}
@media screen and (max-width: 660px) {
  .firstCoins {
    img {
      display: block;
      margin-left: auto;
      margin-right: auto; 
    }
    .coin {
      display: block;
      margin-left: 0;
      margin-top: 10px;
      p {
        text-align: center;
      }
      span {
      }
    }
  }
  .watch__cryptoFolio--container {
    h1 {
      font-size: 32px !important;
    }
    p{
      font-size: 12px !important;
    }
  }
}
