@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.nav--container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logotip {
    color: rgb(135, 206, 235);
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.15px;
    text-align: left;
  }

  .currencyChange {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  #currencyChanges {
    border-radius: 4px;
    color: rgb(255, 255, 255);
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.15px;
    text-align: left;
    padding: 20px 7px;
    border: none;
    outline: none;
    appearance: none;
    background: rgb(20, 22, 26);
    cursor: pointer;
  }
  section::before {
    content: "";
    position: absolute;
    right: calc(((100% - 1280px) / 2) + 157px);
    top: 36px;
    border: 5px solid white;
    border-bottom-color:transparent ;
    border-left-color:transparent ;
    border-right-color:transparent ;
    cursor: pointer;
  }

  .watchlistButton {
    color: rgba(0, 0, 0, 0.87);
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    line-height: 24.5px;
    letter-spacing: 0.4px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    padding: 10px 18px;
    border-radius: 4px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.12),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2);
    background: rgb(135, 206, 235);
  }
}
