.cardStorage {
    border-radius: 25px;
    width: 200px;
    margin-top: 36px;
    padding: 16px 32px;
    background: rgb(20, 22, 26);
    display: flex;
    flex-direction: column;
    align-items: center;
  img {
    width: 118px;
    height: 118px;
    margin-bottom: 37px;
  }
  .coinRemove {
    display: flex;
    flex-direction: column;
    span {
      color: rgb(255, 255, 255);
      font-family: "Roboto";
      font-size: 20px;
      font-weight: 400;
      line-height: 20.02px;
      letter-spacing: 0.15px;
      margin-bottom: 15px;
    }
    button {
      background: rgb(255, 0, 0);
      padding: 4px 16px;
      color: rgb(255, 255, 255);
      font-family: "Roboto";
      font-size: 20px;
      font-weight: 400;
      line-height: 20.02px;
      letter-spacing: 0.15px;
      cursor: pointer;
      transition: all 0.5s;
      &:hover{
        background:rgb(126, 3, 3);
      }
    }
  }
}
